<mat-card>
  <mat-card-content>
    <form [formGroup]="myForm" class="form" (ngSubmit)="saveUser()">
      <h1>Registro</h1>

      <mat-form-field appearance="outline">
        <mat-label>Nombre Completo</mat-label>
        <input
          matInput
          formControlName="fullName"
          placeholder="Ingrese su nombre completo"
          required
        >
        <mat-error>{{ getFieldError('fullName') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cédula</mat-label>
        <input
          matInput
          formControlName="dni"
          placeholder="Ingrese su cédula"
          required
        >
        <mat-error>{{ getFieldError('dni') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="example@mail.com"
          required
        >
        <mat-error>{{ getFieldError('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          placeholder="Ingrese la contraseña"
          formControlName="password"
          (copy)="onCopyAndPaste($event)"
          (paste)="onCopyAndPaste($event)"
          matInput
          [type]="hide ? 'password' : 'text'"
          required
        >
        <button type="button" mat-icon-button matSuffix (click)="showPassword()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error> {{ getFieldError('password')}} </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar Contraseña</mat-label>
        <input
          formControlName="password2"
          [type]="hide ? 'password' : 'text'"
          (copy)="onCopyAndPaste($event)"
          (paste)="onCopyAndPaste($event)"
          matInput
          placeholder="Ingrese de nuevo la contraseña"
        >
        <mat-error>{{ getFieldError('password2') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input
          matInput
          formControlName="address"
          placeholder="Ingrese su dirección"
          required
        >
        <mat-error>{{ getFieldError('address') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          formControlName="phone"
          placeholder="Ingrese su teléfono"
          required
        >
        <mat-error>{{ getFieldError('phone') }}</mat-error>
      </mat-form-field>

      <div class="save">
        <button mat-raised-button color="primary">
          Guardar
          <mat-icon>save</mat-icon>
        </button>
      </div>

    </form>

  </mat-card-content>
</mat-card>
