<mat-card class="">

    <mat-card-header>

      <mat-card-title>{{ product.name }}</mat-card-title>

    </mat-card-header>
    <img mat-card-image [src]="product.imageUrl" [alt]="product.name">

    <mat-card-content class="w-100">
      <p class="text-xl">
        {{ product.price | currency:'':'symbol-narrow':'1.0' }}
      </p>
    </mat-card-content>

    <mat-card-actions class="flex justify-between">
      <button mat-raised-button color="primary">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>info</mat-icon>
        info
      </button>
    </mat-card-actions>

</mat-card>
